{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 130px;">

  {% for post in contacts %}
  {% comment %} <div class="post-entry">
    <h2><a href="{% url 'post_detail' post.pk %}"><span> {{ post.pk }} .</span>  {{ post.title }}</a></h2>
    <p>{{ post.body }}</p>
   
  </div> {% endcomment %}

  
<div class="card mb-4">
   <div class="card-body" style="margin-top: 20xp;">

        <div class="row">
          <div class="col-lg-6">

            <a href="#">
              <img class="img-fluid rounded" src="{{ post.image.url  }}" alt="" style="height: 200px; width: 500px;">
            </a>
          </div>
          <div class="col-lg-6">
            <h1> {{ post.pk }} . {{ post.title }}</h1>
            {% comment %} <p style="text-align: justify; font-size: 20px;">{{ post.body |linebreaks }}</p> {% endcomment %}
            <p style="text-align: justify; font-size: 20px;">{{ post.body |safe }}</p>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="width: 150px; height:50px;">
               <a href="{% url 'post_detail' post.pk %}" style="color: white; font-size: 18px;">    Learn More </a>
             </button></p><hr style="width: 100%">
         
      </div>
      <div class="card-footer text-muted" style="margin-top: 15px;">
         <p>{{ post.pub_date }} | <span class="text-primary" >By: {{ post.author}} </span> </p>
      </div>
      
</div> 
</div>
{% endfor %}

<div class="paginationr" style = "margin: 0 auto;">
    <span class="step-links text-center">
        {% if contacts.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ contacts.previous_page_number }}">Prev</a>
        {% endif %}

        
        <span class="current ">
            Page {{ contacts.number }}  of  {{ contacts.paginator.num_pages }}  
        </span>
        

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">Next</a> |
            <a href="?page={{ contacts.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
